<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Correo Institucional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>20180137</th>
            <td>José Rafael</td>
            <td>Morente González</td>
            <td>josemorenteg98@gmail.com</td>
            <td>3162261571502@ingenieria.usac.edu.gt</td>
        </tr>
        <tr>
            <th>201807266</th>
            <td>Luis Fernando </td>
            <td>Velasquez Zacarias</td>
            <td>luis.fernando.velasquez99@gmail.com</td>
            <td>3012278370101@ingenieria.usac.edu.gt</td>
        </tr>
        <tr>
            <th>201801262</th>
            <td>Juan Jose </td>
            <td>Ramos Campos</td>
            <td>eljuanjo.ramos@gmail.com</td>
            <td>2757881482208@ingenieria.usac.edu.gt</td>
        </tr>
        <tr>
            <th>201801195</th>
            <td>Jose Carlos </td>
            <td>Jimenez</td>
            <td>jose.522.vb@gmail.com</td>
            <td>2996381970101@ingenieria.usac.edu.gt</td>
        </tr>
    </tbody>
</table>