<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Datos</h2>
  </div>
</header>
<div class="container">
  <section class="tables">   
    <div class="container-fluid">
      <div class="col-lg-12">
        <div class="card">
          <br>
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Listado General</h3>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>CUI</th>
                  <th>Carnet</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Correo Personal</th>
                  <th>Correo Institucional</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of datos">
                  <td>{{item.Cui}}</td>
                  <td>{{item.Carnet}}</td>
                  <td>{{item.Nombre}}</td>
                  <td>{{item.Apellido}}</td>
                  <td>{{item.Correo_Personal}}</td>
                  <td>{{item.Correo_Institucional}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>